@import "tailwindcss";

@theme {
  --color-ergo-green: #3A7D44;
  --color-ergo-dark: #2C3E50;
  --color-ergo-slate: #f8fafc;
  
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: var(--font-sans);
  background-color: var(--color-ergo-slate);
  color: var(--color-ergo-dark);
}
